.git
.github
.idea
.vscode
data
dist
bin
node_modules
frontend/node_modules
frontend/dist
frontend/tsconfig.tsbuildinfo
internal/openvpnweb/templates/static/admin/assets
build/openvpn-web
build/openvpn-web.exe
*.log
ovpn.db
config.json
